<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="lightpink">
<center>
    <h2>
        <form action="./register" method="post">
            {% csrf_token %}
            <table bgcolor="lightblue" border="2">
                <tr><td>Enter first name</td><td><input type="text" name="t1"></td></tr>
                <tr><td>Enter last name</td><td><input type="text" name="t2"></td></tr>
                <tr><td>Enter Username</td><td><input type="text" name="t3"></td></tr>
                <tr><td>Enter password</td><td><input type="password" name="t4"></td></tr>
                <tr><td>Enter Cpassword</td><td><input type="password" name="t5"></td></tr>
                <tr><td>Enter Mobile number</td><td><input type="text" name="t6"></td></tr>
                <tr><td colspan="2" align="center"><input type="submit" value="register"></td></tr>
            </table>
        </form>
    </h2>
</center>

</body>
</html>